<h1><%= @article.title %></h1>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
  <% end %>
</p>

<p><%= @article.body %></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= link_to "<< Back to Articles List", articles_path %>
<% if logged_in? %>
  <%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
  <%= link_to "edit", edit_article_path(@article) %>
<% end %>


