<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Username</th>-->
<!--      <th>Email</th>-->
<!--      <th>Password</th>-->
<!--      <th>Password confirmation</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.username %></td>
        <td><%= author.email %></td>
        <td><%= author.password %></td>
        <td><%= author.password_confirmation %></td>
        <td><%= link_to 'Show', author %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author', new_author_path %>
