<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<!--<p>-->
<!--  <strong>Password:</strong>-->
<!--  <%= @author.password %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Password confirmation:</strong>-->
<!--  <%= @author.password_confirmation %>-->
<!--</p>-->

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
